In [10]:
import pandas as pd

In [11]:
df=pd.read_csv('engine.csv')

In [12]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
387,27.0,4,140.0,86,2790,15.6,82,usa,ford mustang gl
388,44.0,4,97.0,52,2130,24.6,82,europe,vw pickup
389,32.0,4,135.0,84,2295,11.6,82,usa,dodge rampage
390,28.0,4,120.0,79,2625,18.6,82,usa,ford ranger
391,31.0,4,119.0,82,2720,19.4,82,usa,chevy s-10

In [13]:
df=df.drop(columns=['name'])

In [14]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,18.0,8,307.0,130,3504,12.0,70,usa
1,15.0,8,350.0,165,3693,11.5,70,usa
2,18.0,8,318.0,150,3436,11.0,70,usa
3,16.0,8,304.0,150,3433,12.0,70,usa
4,17.0,8,302.0,140,3449,10.5,70,usa
...,...,...,...,...,...,...,...,...
387,27.0,4,140.0,86,2790,15.6,82,usa
388,44.0,4,97.0,52,2130,24.6,82,europe
389,32.0,4,135.0,84,2295,11.6,82,usa
390,28.0,4,120.0,79,2625,18.6,82,usa
391,31.0,4,119.0,82,2720,19.4,82,usa

In [15]:
from sklearn.preprocessing import StandardScaler

In [16]:
scaler=StandardScaler()

In [19]:
df=pd.get_dummies(df)

In [20]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin_europe,origin_japan,origin_usa
0,18.0,8,307.0,130,3504,12.0,70,False,False,True
1,15.0,8,350.0,165,3693,11.5,70,False,False,True
2,18.0,8,318.0,150,3436,11.0,70,False,False,True
3,16.0,8,304.0,150,3433,12.0,70,False,False,True
4,17.0,8,302.0,140,3449,10.5,70,False,False,True
...,...,...,...,...,...,...,...,...,...,...
387,27.0,4,140.0,86,2790,15.6,82,False,False,True
388,44.0,4,97.0,52,2130,24.6,82,True,False,False
389,32.0,4,135.0,84,2295,11.6,82,False,False,True
390,28.0,4,120.0,79,2625,18.6,82,False,False,True
391,31.0,4,119.0,82,2720,19.4,82,False,False,True

In [21]:
X=pd.DataFrame(scaler.fit_transform(df),columns=df.columns)

In [22]:
X

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin_europe,origin_japan,origin_usa
0,-0.698638,1.483947,1.077290,0.664133,0.620540,-1.285258,-1.625315,-0.458123,-0.50239,0.774597
1,-1.083498,1.483947,1.488732,1.574594,0.843334,-1.466724,-1.625315,-0.458123,-0.50239,0.774597
2,-0.698638,1.483947,1.182542,1.184397,0.540382,-1.648189,-1.625315,-0.458123,-0.50239,0.774597
3,-0.955212,1.483947,1.048584,1.184397,0.536845,-1.285258,-1.625315,-0.458123,-0.50239,0.774597
4,-0.826925,1.483947,1.029447,0.924265,0.555706,-1.829655,-1.625315,-0.458123,-0.50239,0.774597
...,...,...,...,...,...,...,...,...,...,...
387,0.455941,-0.864014,-0.520637,-0.480448,-0.221125,0.021294,1.636410,-0.458123,-0.50239,0.774597
388,2.636813,-0.864014,-0.932079,-1.364896,-0.999134,3.287676,1.636410,2.182821,-0.50239,-1.290994
389,1.097374,-0.864014,-0.568479,-0.532474,-0.804632,-1.430430,1.636410,-0.458123,-0.50239,0.774597
390,0.584228,-0.864014,-0.712005,-0.662540,-0.415627,1.110088,1.636410,-0.458123,-0.50239,0.774597
391,0.969088,-0.864014,-0.721574,-0.584501,-0.303641,1.400433,1.636410,-0.458123,-0.50239,0.774597

In [24]:
from sklearn.cluster import AgglomerativeClustering

In [26]:
mymodel=AgglomerativeClustering(n_clusters=None,distance_threshold=0)

In [27]:
mymodel.fit(X)

AgglomerativeClustering(distance_threshold=0, n_clusters=None)

In [28]:
cluster=mymodel.fit_predict(X)

In [29]:
cluster

array([256, 337, 339, 245, 287, 355, 384, 272, 252, 293, 242, 201, 285,
       267, 238, 360, 258, 307, 383, 311, 325, 308, 319, 225, 379, 269,
       387, 226, 251, 265, 125, 290, 262, 266, 388, 316, 373, 371, 358,
       366, 317, 341, 294, 206, 261, 255, 369, 239, 318, 268, 247, 205,
       228, 323, 271, 389, 298, 202, 279, 280, 376, 346, 230, 193, 260,
       276, 130, 390, 352, 253, 315, 363, 326, 217, 364, 297, 211, 209,
       249, 219, 365, 243, 218, 212, 229, 322, 378, 213, 191, 353, 207,
       320, 301, 324, 359, 350, 370, 299, 179, 288, 313, 200, 321, 385,
       329, 199, 216, 331, 295, 112, 162, 333, 302, 214, 159, 215,  99,
       342, 340, 204, 386, 246, 203, 278, 281, 374, 343, 194, 367, 345,
       210, 146, 344, 153, 235, 254, 282, 259, 126, 244, 274, 381, 100,
       372, 148, 127, 237, 171, 160, 140, 330, 273, 139, 361, 305, 356,
       275, 197, 143, 362, 182, 240, 135, 236, 248, 180, 264, 169, 368,
       114, 300, 170, 132, 377, 382, 334, 380, 231, 157, 190, 349, 227,
       286, 335, 332, 354, 181, 257, 312, 304, 102, 309, 196, 234, 208,
       250, 121, 186, 198, 357, 188, 303, 177, 122, 391, 310, 172, 158,
       222, 347, 277, 327,  84,  62, 221, 348, 223, 164, 149, 123, 336,
       328, 232, 296, 183,  49, 291, 292, 375, 241, 117, 167, 195, 124,
       145, 338,  97,  89,  96, 128, 113,  69, 129, 133, 150,  72, 120,
        61, 168, 185, 192, 314, 173, 166,  74, 138,  78, 161, 270,  95,
       163,  60, 263, 187,  30, 165, 107,  63,  80, 108,  83, 105, 106,
        52, 131,  92, 156,  64, 147, 220, 109,  82, 351,  47,  56,  79,
       136,  65, 224,  73, 284, 119, 151, 306, 103, 233, 134,  81, 115,
        98, 174, 155, 118,  90, 116, 178, 283, 104,  40, 289, 154, 110,
       111,  59,  54,  31, 184,  39,  91, 152,  48, 101,  66, 175,  53,
        67,  51, 144,  29,  50,  93,  57,  26, 189, 176,  44,  94,  76,
        14, 142,  55,  41,  87,  25, 137,  19, 141,  45,  58,  27,  68,
        85,  71,  35,  70,  75,  34,  77,  88,  28,  13,  86,  37,  46,
        32,  43,  33,  42,  12,  38,  23,  15,   6,  36,  20,  17,  16,
        18,   7,  22,   9,  24,  11,  21,  10,   4,   5,   8,   3,   2,
         1,   0], dtype=int64)

In [30]:
mymodel.children_

array([[232, 234],
       [ 67,  68],
       [127, 143],
       [ 34,  36],
       [ 63,  74],
       [283, 286],
       [250, 258],
       [  6,   7],
       [ 18,  29],
       [179, 196],
       [141, 146],
       [363, 390],
       [336, 382],
       [ 86, 114],
       [173, 195],
       [ 60,  79],
       [333, 351],
       [125, 167],
       [197, 225],
       [249, 260],
       [ 37,  61],
       [ 96,  98],
       [ 46, 395],
       [224, 254],
       [128, 130],
       [ 39,  64],
       [ 80,  83],
       [303, 311],
       [ 71,  88],
       [159, 160],
       [165, 203],
       [ 15,  24],
       [237, 277],
       [ 38,  62],
       [199, 223],
       [202, 218],
       [155, 157],
       [185, 186],
       [334, 335],
       [342, 371],
       [365, 366],
       [ 95, 123],
       [180, 184],
       [215, 267],
       [252, 257],
       [367, 386],
       [206, 213],
       [374, 375],
       [147, 148],
       [117, 145],
       [ 41,  43],
       [341, 345],
       [  2,   4],
       [270, 280],
       [248, 411],
       [235, 264],
       [231, 238],
       [175, 177],
       [253, 392],
       [281, 314],
       [265, 266],
       [150, 174],
       [104, 105],
       [308, 343],
       [221, 263],
       [ 72,  87],
       [ 20,  22],
       [ 93,  94],
       [268, 271],
       [ 85, 120],
       [317, 353],
       [ 91, 393],
       [285, 290],
       [256, 282],
       [ 40, 417],
       [ 35, 414],
       [ 70, 110],
       [251, 279],
       [276, 291],
       [188, 211],
       [377, 379],
       [310, 344],
       [191, 192],
       [133, 151],
       [ 17, 423],
       [319, 350],
       [362, 391],
       [189, 190],
       [293, 300],
       [244, 301],
       [ 92, 138],
       [170, 181],
       [ 97, 126],
       [ 56,  81],
       [ 75, 119],
       [387, 430],
       [278, 465],
       [131, 132],
       [ 42, 442],
       [227, 229],
       [226, 398],
       [ 31, 400],
       [309, 347],
       [ 99, 413],
       [352, 384],
       [339, 473],
       [182, 217],
       [346, 372],
       [356, 357],
       [136, 428],
       [124, 453],
       [152, 198],
       [ 59, 111],
       [255, 415],
       [210, 228],
       [ 65, 461],
       [156, 501],
       [140, 441],
       [378, 443],
       [162, 479],
       [376, 408],
       [322, 455],
       [ 25,  27],
       [243, 480],
       [ 49,  51],
       [ 33, 467],
       [396, 466],
       [166, 168],
       [287, 288],
       [ 32,  44],
       [ 66,  89],
       [315, 332],
       [242, 323],
       [ 16, 476],
       [187, 212],
       [  0,   3],
       [ 45, 108],
       [135, 508],
       [ 69, 425],
       [  8, 399],
       [ 30,  82],
       [403, 478],
       [247, 289],
       [219, 429],
       [ 50,  54],
       [121, 178],
       [328, 431],
       [139, 149],
       [338, 389],
       [ 10,  12],
       [246, 292],
       [161, 421],
       [ 47, 517],
       [ 14, 493],
       [302, 307],
       [230, 456],
       [134, 482],
       [193, 194],
       [304, 305],
       [222, 526],
       [360, 361],
       [284, 446],
       [ 84, 454],
       [ 52,  53],
       [349, 369],
       [109, 171],
       [340, 373],
       [312, 437],
       [444, 527],
       [208, 239],
       [214, 481],
       [409, 502],
       [368, 487],
       [269, 445],
       [ 73, 137],
       [106, 495],
       [324, 388],
       [113, 509],
       [272, 274],
       [451, 469],
       [ 76,  78],
       [406, 448],
       [326, 354],
       [294, 419],
       [ 90, 103],
       [329, 470],
       [484, 489],
       [504, 528],
       [321, 404],
       [142, 401],
       [ 57, 407],
       [101, 116],
       [424, 427],
       [459, 522],
       [299, 515],
       [405, 420],
       [236, 435],
       [370, 513],
       [ 26, 514],
       [450, 498],
       [259, 488],
       [491, 506],
       [176, 205],
       [200, 410],
       [426, 475],
       [512, 538],
       [385, 540],
       [316, 496],
       [318, 439],
       [416, 519],
       [440, 485],
       [153, 503],
       [457, 548],
       [358, 383],
       [  5, 531],
       [505, 595],
       [520, 547],
       [402, 569],
       [209, 275],
       [129, 394],
       [477, 600],
       [523, 556],
       [118, 449],
       [  1, 541],
       [183, 601],
       [380, 605],
       [463, 554],
       [494, 499],
       [452, 460],
       [434, 483],
       [438, 471],
       [102, 576],
       [432, 564],
       [ 48, 532],
       [472, 510],
       [100, 563],
       [ 19, 536],
       [337, 550],
       [ 21, 516],
       [154, 593],
       [201, 573],
       [112, 172],
       [518, 587],
       [144, 204],
       [412, 618],
       [  9,  11],
       [245, 589],
       [422, 584],
       [158, 543],
       [537, 614],
       [306, 598],
       [535, 622],
       [241, 331],
       [464, 608],
       [462, 597],
       [325, 355],
       [567, 627],
       [296, 359],
       [364, 533],
       [557, 602],
       [262, 553],
       [397, 534],
       [458, 572],
       [497, 626],
       [566, 604],
       [558, 619],
       [447, 588],
       [583, 628],
       [233, 639],
       [490, 530],
       [436, 474],
       [539, 621],
       [313, 559],
       [348, 650],
       [163, 164],
       [295, 574],
       [546, 613],
       [169, 620],
       [240, 641],
       [ 23, 630],
       [570, 594],
       [552, 571],
       [492, 607],
       [575, 624],
       [115, 606],
       [615, 637],
       [273, 610],
       [ 77, 654],
       [582, 625],
       [418, 651],
       [122, 561],
       [542, 655],
       [580, 675],
       [320, 638],
       [578, 596],
       [ 55, 579],
       [507, 560],
       [330, 500],
       [599, 612],
       [555, 611],
       [609, 663],
       [524, 568],
       [565, 591],
       [623, 636],
       [486, 670],
       [511, 592],
       [521, 544],
       [577, 632],
       [220, 640],
       [107, 681],
       [551, 643],
       [581, 660],
       [664, 665],
       [207, 297],
       [644, 669],
       [529, 656],
       [635, 658],
       [647, 667],
       [633, 648],
       [433, 677],
       [327, 683],
       [652, 666],
       [ 58, 659],
       [662, 673],
       [586, 657],
       [ 13, 676],
       [661, 695],
       [645, 702],
       [525, 698],
       [ 28, 590],
       [562, 703],
       [261, 713],
       [468, 545],
       [674, 715],
       [298, 649],
       [603, 700],
       [216, 668],
       [672, 696],
       [616, 694],
       [653, 723],
       [701, 724],
       [634, 707],
       [381, 617],
       [585, 717],
       [705, 709],
       [688, 711],
       [686, 710],
       [646, 712],
       [642, 716],
       [549, 687],
       [629, 734],
       [685, 739],
       [697, 725],
       [671, 692],
       [699, 728],
       [682, 689],
       [679, 714],
       [708, 730],
       [691, 722],
       [719, 731],
       [631, 718],
       [678, 729],
       [706, 747],
       [684, 704],
       [690, 743],
       [720, 738],
       [680, 749],
       [726, 727],
       [721, 752],
       [744, 759],
       [733, 760],
       [741, 758],
       [742, 755],
       [693, 736],
       [745, 753],
       [740, 764],
       [737, 762],
       [732, 754],
       [750, 756],
       [748, 766],
       [735, 768],
       [757, 761],
       [746, 771],
       [763, 767],
       [751, 772],
       [765, 774],
       [769, 770],
       [773, 775],
       [777, 778],
       [779, 780],
       [776, 781]], dtype=int64)

In [31]:
from scipy.cluster import hierarchy

In [32]:
d=hierarchy.linkage(mymodel.children_)

In [33]:
d

array([[ 79.        , 134.        ,   1.41421356,   2.        ],
       [182.        , 255.        ,   1.41421356,   2.        ],
       [ 11.        ,  86.        ,   1.41421356,   2.        ],
       ...,
       [325.        , 776.        ,  47.07440918,   7.        ],
       [777.        , 778.        ,  47.09564736, 390.        ],
       [331.        , 779.        ,  63.63961031, 391.        ]])

In [34]:
data=pd.DataFrame(d,columns=['one cluster','Another cluster','Distance','no of data points'])

In [35]:
data

     one cluster  Another cluster   Distance  no of data points
0           79.0            134.0   1.414214                2.0
1          182.0            255.0   1.414214                2.0
2           11.0             86.0   1.414214                2.0
3           28.0             65.0   1.414214                2.0
4          149.0            245.0   1.414214                2.0
..           ...              ...        ...                ...
385        769.0            770.0  45.453273                6.0
386        159.0            775.0  45.705580              383.0
387        325.0            776.0  47.074409                7.0
388        777.0            778.0  47.095647              390.0
389        331.0            779.0  63.639610              391.0

[390 rows x 4 columns]

In [36]:
data['Distance'].mean()

14.604850055403544

In [37]:
mymodel=AgglomerativeClustering(n_clusters=None,distance_threshold=14.604850055403544)

In [38]:
cluster=mymodel.fit_predict(X)

In [39]:
cluster

array([3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 0, 4, 4, 4, 0, 1, 1, 1,
       1, 1, 4, 3, 3, 3, 3, 0, 2, 0, 4, 4, 4, 4, 4, 3, 3, 3, 3, 3, 3, 3,
       4, 2, 4, 4, 2, 1, 1, 1, 0, 0, 1, 2, 0, 2, 1, 2, 2, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 0, 3, 3, 3, 3, 1, 1, 1, 1, 2, 0, 0, 2, 0, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 1, 3, 3, 3, 3, 4, 0, 2, 0,
       0, 2, 4, 1, 3, 3, 1, 1, 1, 1, 3, 1, 0, 3, 4, 4, 4, 0, 2, 0, 2, 4,
       4, 4, 3, 3, 3, 3, 3, 1, 1, 1, 0, 0, 2, 1, 1, 0, 0, 1, 4, 4, 4, 4,
       3, 3, 3, 3, 4, 4, 4, 4, 4, 3, 3, 0, 2, 4, 2, 0, 1, 0, 4, 1, 4, 1,
       1, 1, 1, 0, 1, 1, 2, 2, 1, 3, 3, 3, 3, 4, 4, 4, 4, 2, 2, 1, 0, 4,
       4, 4, 4, 1, 0, 0, 2, 1, 3, 1, 0, 1, 3, 3, 3, 3, 0, 2, 1, 2, 0, 3,
       4, 3, 3, 4, 4, 4, 4, 3, 3, 3, 3, 1, 2, 0, 2, 2, 2, 0, 1, 0, 1, 0,
       1, 2, 0, 0, 0, 3, 3, 3, 4, 4, 4, 2, 4, 4, 4, 4, 4, 4, 3, 3, 3, 3,
       2, 0, 0, 2, 0, 2, 2, 0, 1, 1, 1, 1, 1, 0, 4, 4, 2, 4, 4, 3, 3, 3,
       3, 3, 3, 3, 3, 1, 0, 2, 2, 1, 4, 1, 4, 2, 2, 0, 1, 2, 2, 2, 2, 1,
       0, 2, 0, 2, 2, 2, 4, 1, 0, 0, 0, 0, 0, 2, 0, 1, 1, 1, 1, 0, 0, 1,
       0, 0, 1, 0, 2, 2, 2, 2, 2, 0, 2, 0, 0, 0, 0, 0, 2, 2, 2, 1, 0, 0,
       0, 0, 1, 1, 0, 0, 2, 4, 4, 4, 2, 2, 2, 2, 2, 2, 2, 1, 0, 0, 2, 2,
       0, 0, 0, 0, 0, 0, 2, 2, 2, 2, 0, 2, 2, 2, 1, 2, 2, 2], dtype=int64)

In [40]:
df=pd.read_csv('engine.csv')

In [41]:
df['cluster label']=cluster

In [42]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name,cluster label
0,18.0,8,307.0,130,3504,12.0,70,usa,chevrolet chevelle malibu,3
1,15.0,8,350.0,165,3693,11.5,70,usa,buick skylark 320,3
2,18.0,8,318.0,150,3436,11.0,70,usa,plymouth satellite,3
3,16.0,8,304.0,150,3433,12.0,70,usa,amc rebel sst,3
4,17.0,8,302.0,140,3449,10.5,70,usa,ford torino,3
...,...,...,...,...,...,...,...,...,...,...
387,27.0,4,140.0,86,2790,15.6,82,usa,ford mustang gl,2
388,44.0,4,97.0,52,2130,24.6,82,europe,vw pickup,1
389,32.0,4,135.0,84,2295,11.6,82,usa,dodge rampage,2
390,28.0,4,120.0,79,2625,18.6,82,usa,ford ranger,2
391,31.0,4,119.0,82,2720,19.4,82,usa,chevy s-10,2

In [43]:
df.to_csv('engineoutput.csv',index=False)